{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "ui/header/pins-header.njk" import pinsHeader %}
{% from "ui/footer/pins-footer.njk" import pinsFooter %}

{% block head %}
	{# setup the header tags, to link to the styles #}
	<link rel="stylesheet" href="/{{ styleCss }}" />

	<meta name="referrer" content="origin">
{% endblock %}

{% block pageTitle %}
	{% set suffix = serviceName | default(config.headerTitle) %}
	{% if pageTitle %}
		{{ pageTitle }} – {{ suffix }}
	{% else %}
		{{ suffix }}
	{% endif %}
{% endblock %}

{% block header %}
	{{ pinsHeader({ isExternal: true }, config) }}
{% endblock %}

{% block containerStart %}
	<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
		document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
	</script>

	{% block backLink %}
		{% if backLinkUrl and backLinkText %}
			{{ govukBackLink({ text: backLinkText, href: backLinkUrl }) }}
		{% elseif backLinkUrl %}
			{{ govukBackLink({ href: backLinkUrl }) }}
		{% elseif backLink %} {# used by the dynamic forms #}
			{{ govukBackLink({ href: backLink }) }}
		{% endif %}
	{% endblock %}
	{% block error_summary %}
		{% if errorSummary %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					{{ govukErrorSummary({
						titleText: "There is a problem",
						errorList: errorSummary
					}) }}
				</div>
			</div>
		{% endif %}
	{% endblock %}
{% endblock %}

{% block before_content %}{% endblock %}

{% block content %}
	{% block pageHeading %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				<h1 class="govuk-heading-xl">
					{% if pageCaption %}
						<span class="govuk-caption-xl">{{ pageCaption }}</span>
					{% endif %}
					{{ pageHeading or pageTitle }}
				</h1>
			</div>
		</div>
	{% endblock %}
	{% block pageContent %}{% endblock %}

	{% block after_content %}{% endblock %}
{% endblock %}

{% block footer %}
	{{ pinsFooter(config.footerLinks) }}

	<script type="module"
					{% if cspNonce %}nonce={{ cspNonce }}{% endif %} src="/assets/js/govuk-frontend.min.js"></script>
	<script type="module" {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
		import { initAll } from '/assets/js/govuk-frontend.min.js';

		initAll();
	</script>
{% endblock %}
