{% extends "moj/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "ui/header/pins-header.njk" import pinsHeader %}
{% from "ui/footer/pins-footer.njk" import pinsFooter %}

{% block head %}
	{# setup the header tags, to link to the styles #}
	<link rel="stylesheet" href="/{{ styleCss }}" />
	<link rel="stylesheet" href="/index.css" />
	<meta name="referrer" content="origin">

	{% if config.googleAnalyticsId and analyticsCookiesEnabled %}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.googleAnalyticsId }}" {% if cspNonce %}nonce="{{ cspNonce }}"{% endif %}></script>
		<script {% if cspNonce %}nonce="{{ cspNonce }}"{% endif %}>
			window.dataLayer = window.dataLayer || [];

			function gtag() {
				dataLayer.push(arguments);
			}

			{#
				Default consent state is set to denied for all storage types.
				This means that no cookies will be set until the user has given consent.
				Technically consent has been given already, but we need to set the default state for DPIA/audit purposes.
				Resulting in default state being denied, and then updated as the user has given consent for analytics storage.
			#}
			gtag('consent', 'default', {
				ad_storage: 'denied',
				ad_user_data: 'denied',
				ad_personalization: 'denied',
				analytics_storage: 'denied'
			});

			gtag('consent', 'update', {
				analytics_storage: 'granted'
			});

			gtag('js', new Date());

			gtag('config', '{{ config.googleAnalyticsId }}', {
				cookie_domain: '{{ config.googleAnalyticsCookieDomain }}'
			});
		</script>
	{% endif %}
{% endblock %}

{% block pageTitle %}
	{% set suffix = serviceName | default(config.headerTitle) %}
	{% if applicationReference and pageTitle %}
		{{ applicationReference }} - {{ pageTitle }} – {{ suffix }}
	{% elseif pageTitle %}
		{{ pageTitle }} – {{ suffix }}
	{% else %}
		{{ suffix }}
	{% endif %}
{% endblock %}

{% block header %}
	{{ pinsHeader({ isExternal: true }, config) }}
{% endblock %}

{% block containerStart %}
	<script {% if cspNonce %}nonce="{{ cspNonce }}"{% endif %}>
		document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
	</script>

	{% block backLink %}
		{% if backLinkUrl and backLinkText %}
			{{ govukBackLink({ text: backLinkText, href: backLinkUrl }) }}
		{% elseif backLinkUrl %}
			{{ govukBackLink({ href: backLinkUrl }) }}
		{% elseif backLink %} {# used by the dynamic forms #}
			{{ govukBackLink({ href: backLink }) }}
		{% endif %}
	{% endblock %}
	{% block error_summary %}
		{% if errorSummary %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					{{ govukErrorSummary({
						titleText: "There is a problem",
						errorList: errorSummary
					}) }}
				</div>
			</div>
		{% endif %}
	{% endblock %}
{% endblock %}

{% block bodyStart %}
	{% include "views/layouts/components/core/cookie-banner.njk" %}
{% endblock %}

{% block content %}
	{% block pageHeading %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				<h1 class="govuk-heading-xl">
					{% if pageCaption %}
						<span class="govuk-caption-xl">{{ pageCaption }}</span>
					{% endif %}
					{{ pageHeading or pageTitle }}
				</h1>
			</div>
		</div>
	{% endblock %}
	{% block pageContent %}{% endblock %}
{% endblock %}

{% block footer %}
	{{ pinsFooter(config.footerLinks) }}

	<script type="module"
					{% if cspNonce %}nonce="{{ cspNonce }}"{% endif %} src="/assets/js/govuk-frontend.min.js"></script>
	<script type="module" {% if cspNonce %}nonce="{{ cspNonce }}"{% endif %} src="/assets/js/moj-frontend.min.js"></script>
	<script type="module" {% if cspNonce %}nonce="{{ cspNonce }}"{% endif %}>
		import { initAll as govUkInitAll } from '/assets/js/govuk-frontend.min.js';
		import { initAll as mojInitAll } from '/assets/js/moj-frontend.min.js';

		govUkInitAll();
		mojInitAll();
	</script>
{% endblock %}
