{% extends "views/layouts/main.njk" %}
{% from "success/success.njk" import success %}

{% block pageContent %}
	{{ success(title, bodyText, successBackLinkUrl, successBackLinkText) }}
{% endblock %}
