ENVIRONMENT=dev

# the log level for pino
LOG_LEVEL=debug

# Authentication
AUTH_DISABLED=false
## Only required if AUTH_DISABLED=false
APP_HOSTNAME=localhost:8090
AZURE_CLIENT_ID='d53a5c3f-47e8-4f0b-bdf6-fb1a532f293b'
AUTH_GROUP_APPLICATION_ACCESS='0041a68f-91cf-4d41-8b0d-0174cf2b2481'
AZURE_TENANT_ID='5878df98-6f88-48ab-9322-998ce557088d'
AZURE_CLIENT_SECRET=not-a-real-secret
ENTRA_GROUP_ID_CASE_OFFICERS=0041a68f-91cf-4d41-8b0d-0174cf2b2481
ENTRA_GROUP_ID_INSPECTORS=0041a68f-91cf-4d41-8b0d-0174cf2b2481

#SharePoint
SHAREPOINT_DISABLED=false
SHAREPOINT_DRIVE_ID='myDriveId'
SHAREPOINT_ROOT_ID='rootId'
SHAREPOINT_CASE_TEMPLATE_ID='templateId'

#GovNotify
GOV_NOTIFY_DISABLED=false

#Case History
AUDIT_LOG_DATA_MODELS='crownDevelopment,s62aCase'

# a secret used for sessions
SESSION_SECRET=not-a-real-secret
SQL_CONNECTION_STRING='tbd'

# Feature flags
FEATURE_FLAG_S62A_MANAGE_NOT_LIVE=false
FEATURE_FLAG_CASE_NOTES_NOT_LIVE=false
FEATURE_FLAG_AUDIT_NOT_LIVE=false
