{% extends "views/layouts/main.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "search-filter/search-filter.njk" import searchFilters %}
{% from "search-bar/search-bar.njk" import searchBar %}
{% import "pagination/pagination.njk" as pagination %}
{% import "pagination/pagination-options.njk" as paginationOptions %}

{% block pageContent %}
	{% if banner %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				{{ govukNotificationBanner(banner) }}
			</div>
		</div>
	{% endif %}

	<form id="search-filter-form" method="GET">
		<input type="hidden" name="itemsPerPage" value="{{ selectedItemsPerPage }}">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				{{ searchFilters(filters) }}
			</div>
			<div class="govuk-grid-column-one-third">
				<h3 class="govuk-heading-m">Add a representation</h3>
				<p class="govuk-body">
					<a href="{{ baseUrl }}/add-representation/start" class="govuk-link govuk-link--no-visited-state">Add
						a representation</a>
				</p>
			</div>
		</div>
		<div class="govuk-grid-row pins-grid-row--inline">
			<div class="govuk-grid-column-full">
				{{ searchBar({
					input: {
						label: {
							text: "Search representations"
						},
						hint: {
							text: "Search by reference, keywords or by name of person or organisation who made the submission."
						},
						classes: "govuk-input govuk-input--width-50"
					},
					button: {
						text: "Search",
						classes: "govuk-button"
					}
				}, searchValue) }}
			</div>
		</div>
	</form>

	{% if reps|length == 0 %}
		<p class="govuk-body">No results were found.</p>
		<p class="govuk-body"><a href="{{ baseUrl }}" class="govuk-link govuk-link--no-visited-state">Clear search and
				filters</a> to view all representations.</p>
	{% else %}
		<div id="pagination" class="govuk-body">
			<p class="govuk-body govuk-clearfix">
                <span class="govuk-body">Showing <strong>{{ paginationParams.resultsStartNumber }}</strong> to
                <strong>{{ paginationParams.resultsEndNumber if paginationParams.totalItems > paginationParams.resultsEndNumber else paginationParams.totalItems }}</strong>
                of <strong>{{ paginationParams.totalItems }}</strong> representations, newest first.
                </span>
				<span class="pins-float-right">
                    {{ paginationOptions.renderPagination(paginationParams.selectedItemsPerPage, paginationParams.totalItems, baseUrl, queryParams) }}
                 </span>
			</p>

			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

			{{ repsTable(reps) }}
		</div>
		{# if pageNumber and totalPages values are both 1 then pagination options not shown #}
		{{ pagination.renderPagination(paginationParams.pageNumber, paginationParams.totalPages, baseUrl, queryParams) }}
	{% endif %}
{% endblock %}

{% macro repsTable(representations) %}
	{% set repsRows = [] %}
	{% for rep in representations %}
		{% set actionText = 'View' %}
		{% set actionLink = 'view' %}
		{% if rep.review %}
			{% set actionText = 'Review' %}
			{% set actionLink = 'review' %}
		{% endif %}
		{% set row = [
			{
				text: rep.reference
			},
			{
				text: rep.submittedByFullName
			},
			{
				text: rep.submittedDate,
				attributes: {
				"data-sort-value": rep.submittedDateSortableValue
			}
			},
			{
				text: rep.status
			},
			{
				html: '<a href="'+ baseUrl + '/' + rep.reference + '/' + actionLink + '" class="govuk-link">' + actionText + '</a>'
			}
		] %}
		{% set repsRows = (repsRows.push(row), repsRows) %}
	{% endfor %}

	{% set headers = [
		{
			text: 'Reference',
			attributes: {
			"aria-sort": "none"
		}
		},
		{
			text: 'From',
			attributes: {
			"aria-sort": "none"
		}
		},
		{
			text: 'Submission date',
			attributes: {
			"aria-sort": "ascending"
		}
		},
		{
			text: 'Status',
			attributes: {
			"aria-sort": "none"
		}
		},
		{
			text: 'Action'
		}
	] %}

	{{ govukTable({
		attributes: {
			"data-module": "moj-sortable-table"
		},
		head: headers,
		rows: repsRows
	}) }}
{% endmacro %}
