{% extends "views/layouts/main.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% import "pagination/pagination.njk" as pagination %}
{% import "pagination/pagination-options.njk" as paginationOptions %}

{% set title = reference + " - Application history" %}

{% block pageTitle %}
	{{ title }}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h2 class="govuk-caption-l" data-cy="page-caption">
				{{ reference }}
			</h2>
			<h1 class="govuk-heading-l" data-cy="page-heading">
				{{ pageHeading }}
			</h1>
			<div id="pagination" class="govuk-body">
				{% if rows | length == 0 %}
					<p class="govuk-body" data-cy="no-history-message">There is no application history to display</p>
				{% else %}
					<p class="govuk-body govuk-clearfix">
                        <span class="govuk-body" data-cy="pagination-results-text">
                            Showing <strong>{{ paginationParams.resultsStartNumber }}</strong> to <strong>{{ paginationParams.resultsEndNumber if paginationParams.totalItems > paginationParams.resultsEndNumber else paginationParams.totalItems }}</strong>
                            of <strong>{{ paginationParams.totalItems }}</strong> results
                        </span>
						<span class="pins-float-right">
                            {{ paginationOptions.renderPagination(paginationParams.selectedItemsPerPage, paginationParams.totalItems, baseUrl, queryParams) }}
                        </span>
					</p>

					{% set tableRows = [] %}
					{% for row in rows %}
						{% set detailsHtml %}
							{% if row.longField %}
								<div class="pins-case-history-long-field">
									<div class="govuk-!-margin-bottom-2">
										{{ row.details }}
									</div>

									<div class="pins-case-history-long-field__details">
										{% if row.longField.oldValue %}
											{{ govukDetails({
												summaryText: ["Previous ", row.longField.fieldName] | join,
												html: row.longField.oldValue | escape | replace("\n", "<br>") | safe
											}) }}
										{% endif %}
										{% if row.longField.newValue %}
											{{ govukDetails({
												summaryText: ["New ", row.longField.fieldName] | join,
												html: row.longField.newValue | escape | replace("\n", "<br>") | safe
											}) }}
										{% endif %}
									</div>
								</div>
							{% else %}
								{{ row.details }}
								{% if row.files and row.files | length > 0 %}
									{% set filesListHtml %}
										<ul class="govuk-list govuk-list--bullet">
											{% for file in row.files %}
												<li>{{ file }}</li>
											{% endfor %}
										</ul>
									{% endset %}

									{{ govukAccordion({
										id: "files-accordion-" + loop.index0,
										classes: "hide-controls govuk-!-margin-top-2 pins-clean-accordion",
										hideAllSections: true,
										showSectionText: "Show files",
										hideSectionText: "Hide files",
										items: [
											{
												content: {
												html: filesListHtml
											}
											}
										]
									}) }}
								{% endif %}
							{% endif %}
						{% endset %}

						{% set tableRows = (tableRows.push([
							{
								html: row.dateTimeFormatted,
								attributes: { "data-cy": "history-date-" + loop.index0 }
							},
							{
								html: detailsHtml,
								attributes: { "data-cy": "history-details-" + loop.index0 }
							},
							{
								text: row.user,
								attributes: { "data-cy": "history-user-" + loop.index0 }
							}
						]), tableRows) %}
					{% endfor %}

					{{ govukTable({
						attributes: {
							"data-cy": "case-history-table"
						},
						classes: "pins-case-history-table",
						head: [
							{ text: "Date and time" },
							{ text: "Details" },
							{ text: "User" }
						],
						rows: tableRows
					}) }}

					{{ pagination.renderPagination(paginationParams.pageNumber, paginationParams.totalPages, baseUrl, queryParams) }}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
