.pins-case-history-table {
	width: 100%;
	table-layout: fixed;

	.govuk-table__header,
	.govuk-table__cell {
		vertical-align: top;
		overflow-wrap: anywhere;
	}

	.govuk-table__header:nth-child(1),
	.govuk-table__cell:nth-child(1) {
		width: 20%;
	}

	.govuk-table__header:nth-child(2),
	.govuk-table__cell:nth-child(2) {
		width: 60%;
	}

	.govuk-table__header:nth-child(3),
	.govuk-table__cell:nth-child(3) {
		width: 20%;
	}
}
